:root {
    --bg-1: hsl(206, 10%, 33%);
    --bg-2: hsl(206, 10%, 23%);
    --bg-3: hsl(206, 10%, 13%);
    --bg-4: hsl(206, 10%, 3%);
}

body {
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(0, 0%, 96%);
}

*::-webkit-scrollbar {
    display: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    appearance: none;
    border: 0;
    background-color: transparent;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: hsl(249, 95%, 68%);
}

button.footer-action {
    background-color: hsl(321, 95%, 68%);
}

button.selected {
    background-color: hsl(249, 95%, 68%);
}

button.completed {
    background-color: green;
}

button.debug {
    background-color: purple;
}

button.aside-button {
    justify-content: space-between;
    padding-inline: 0.5rem;
}